<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="format-detection" content="telephone=no">
		<link href="../../../sdk/ui.css" rel="stylesheet">
		
	</head>
	<body class="flex-col">
		<div class="head">
			<div class="btn" id="goBack">
                <i class="ion">&#xe651;</i>
            </div>
	        <div class="title">按钮演示</div>
	    </div>
		<div class="flex-1 flex-col scroll_cont">
			<div class="list">
				<div class="item">
					<button class="btn btn-primary">普通按钮</button>
					<button class="btn btn-success">普通按钮</button>
				</div>
				<div class="item">
					<button class="btn btn-primary btn-ghost">幽灵按钮</button>
					<button class="btn btn-success btn-ghost">幽灵按钮</button>
				</div>
				<div class="item">
					<div class="btn btn-link">链接按钮</div>
				</div>
				<div class="item">
					<button class="btn btn-lg">大号</button>
					<button class="btn">中号</button>
					<button class="btn btn-sm">小号</button>
				</div>
				<div class="item">
					<button class="btn btn-block btn-primary">块级按钮</button>
				</div>
				<div class="item">
					<button class="btn btn-block btn-primary btn-ghost">块级幽灵按钮</button>
				</div>
				<div class="item">
					<button class="btn"><i class="ion">&#xe6af;</i> 图标</button>
					<button class="btn">带角标<span class="badge">99</span></button>
				</div>


			</div>
		</div>
	</body>
	<script src="../../../sdk/loader.js" data-script="script"> </script>
</html>