<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link href="../../../sdk/ui.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    
</head>

<body class="flex-col">
    <div class="head">
        <div class="btn" id="goBack">
            <i class="ion">&#xe6ac;</i>
        </div>
        <div class="title">app.ls对象</div>
    </div>
    <div class="flex-1 flex-col scroll_cont">
        <div class="list">
            <div class="item">
                <code>app.ls.val(key,[value])</code>
                <div class="item-note">
                    读取/存储值
                </div>
            </div>
            <div class="item">
                <code>app.ls.remove([key])</code>
                <div class="item-note">
                    从本地存储中删除key
                </div>
            </div>
            <div class="item">
                <code>app.ls.leaveSpace()</code>
                <div class="item-note">
                    返回本地存储剩余空间
                </div>
            </div>
            
        </div>
    </div>
</body>
<script src="../../../config.js"></script>
<script src="../../../sdk/core.js" id="seajsnode"></script>
<script>
seajs.use('./script')
</script>

</html>
