<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
      <meta name="format-detection" content="telephone=no">
      <link href="../../../sdk/ui.css" rel="stylesheet">
      <link href="style.css" rel="stylesheet">
      
   </head>
   <body class="flex-col">
      <div class="head myhead">
         <div class="btn" id="goBack"> <i class="ion">&#xe7b7;</i> </div>
         <div class="title" id="headTitle">退货申请</div>
      </div>
      <div class="flex-1 scroll_cont">
         <form class="refundForm" id="refundForm">
            <div class="list">
               <div class="item item-icon-left item-icon-right" id="chooseSource">
                  <i class="ion">&#xe62e;</i>
                  退货原因<span class="text-danger">*</span>
                  <div class="item-note">请选择</div>
                  <input type="hidden" datatype="*" nullmsg="请选择退货原因" id="source" name="reason_type">
                  <i class="ion">&#xe7b9;</i>
               </div>
               <div class="item item-icon-left">
                  <i class="ion">&#xe7af;</i>
                  图片
                  <div class="item-note">还可以上传<span class="text-danger" id="picStor"></span>张</div>
                  <div class="item-body">
                      <div class="picControl" id="picControl">
                          <div class="_adder"></div>
                      </div>
                  </div>
                  <input type="text" class="hide" name="imgs" id="picCollecter" ignore="ignore">
              </div>
               <div class="item item-icon-left">
                  <i class="ion">&#xe6d2;</i>
                  退货说明<span class="_tip">（可不填）</span>
                  <div class="item-body _sendmsg">
                     <textarea name="reason" ></textarea>
                  </div>
               </div>

            </div>
            <div class="padding">
               <button type="submit" class="btn btn-block btn-lg btn-danger" id="sendBaoxiu">提交</button>
            </div>
         </form>
      </div>
   </body>
   <script src="../../../config.js"></script>
   <script src="../../../sdk/core.js" id="seajsnode" ></script>
   <script>
   seajs.use('./script')
   </script>
</html>