<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link href="../../../sdk/ui.css" rel="stylesheet">
    <link href="content.css" rel="stylesheet">
</head>

<body class="flex-col scroll_cont list">
    <div class="item item-divider">UI示例</div>
    <div class="item" openView="2,demo,color">
        <p>color（情景色）</p>
    </div>
    <div class="item" openView="2,demo,actionsheet">
        <p>actionsheet（操作菜单）</p>
    </div>
    <div class="item" openView="2,demo,badge">
        <p>badge（角标）</p>
    </div>
    <div class="item" openView="2,demo,button">
        <p>button（按钮）</p>
    </div>
    <div class="item" openView="2,demo,checkbox">
        <p>checkbox（复选框）</p>
    </div>
    <div class="item" openView="2,demo,box">
        <p>box（消息框）</p>
    </div>
    <div class="item" openView="2,demo,slide">
        <p>slide（图片轮播）</p>
    </div>
    <div class="item" openView="2,demo,grid-list">
        <p>grid-list（栅格化列表）</p>
    </div>
    <div class="item" openView="2,demo,form">
        <p>form（表单元素）</p>
    </div>
    <div class="item" openView="2,demo,list">
        <p>list（列表）</p>
    </div>
    <div class="item" openView="2,demo,number-box">
        <p>number-box（数字输入框）</p>
    </div>
    <div class="item" openView="2,demo,tip">
        <p>tip（tip弹出）</p>
    </div>
    <div class="item" openView="2,demo,radio">
        <p>radio（单选框）</p>
    </div>
    <div class="item" openView="2,demo,range">
        <p>range（滑块）</p>
    </div>
    <div class="item" openView="2,demo,toggle">
        <p>toggle（开关）</p>
    </div>
    <div class="item item-divider">核心方法</div>
    <div class="item" openView="2,demo,core">
        <p>app（app对象）</p>
    </div>
    <div class="item" openView="2,demo,app.ls">
        <p>app.ls（本地存储模块）</p>
    </div>
    <div class="item" openView="2,demo,app.window">
        <p>app.window（窗口模块）</p>
    </div>
    <div class="item" openView="2,demo,app.ajax">
        <p>app.ajax（ajax模块）</p>
    </div>
    <div class="item item-divider">功能示例</div>
    <div class="item" openView="2,demo,datepicker">
        <p>datepicker（日期选择器）</p>
    </div>
    <div class="item" openView="2,demo,chart">
        <p>chart（Echart图表）</p>
    </div>
    <div class="item" openView="2,demo,img-view">
        <p>img-view（大图相册）</p>
    </div>
    <div class="item" openView="2,demo,baidu-map">
        <p>baidu-map（百度地图）</p>
    </div>
    <div class="item" openView="2,demo,render-data">
        <p>render-data（数据渲染）</p>
    </div>
    <div class="item" openView="2,demo,pull">
        <p>pull（滚动加载）</p>
    </div>
    <div class="item" openView="2,demo,push">
        <p>push（下拉刷新）</p>
    </div>
    <div class="item" openView="2,demo,placeholder">
        <p>placeholder（空列表模板）</p>
    </div>
    <div class="item" openView="2,demo,getpicture">
        <p>getpicture （选取并上传图片示例）</p>
    </div>
    <div class="item" openView="2,demo,citySelector">
        <p>citySelector （选择省市区）</p>
    </div>
    <div class="item" openView="2,demo,chooseList">
        <p>chooseSelect （多级选择）</p>
    </div>
    <div class="item" id="openWeb">
        <p>web Viewer （打开网页）</p>
    </div>
    <div class="item" openView="2,demo,searchList">
        <p>searchList （带搜索列表）</p>
    </div>
    <div class="item" openView="2,demo,autocomplete">
        <p>autocomplete （自动补全）</p>
    </div>
</body>
<script src="../../../config.js"></script>
<script src="../../../sdk/core.js" id="seajsnode"></script>
<script>
seajs.use('./content');
</script>

</html>
