<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link href="../../../sdk/ui.css" rel="stylesheet">
</head>

<body class="flex-col scroll_cont list">
    <div id="body">
        <!-- UI示例 -->
        <div class="item item-divider">UI示例</div>
        <div class="item" active="1,demo,color">
            color(情景色)
        </div>
        <div class="item" active="1,demo,badge">
            badge(角标)
        </div>
        <div class="item" active="1,demo,button">
            button(按钮)
        </div>
        <div class="item" active="1,demo,icon">
            icon(图标)
        </div>
        <div class="item" active="1,demo,checkbox">
            checkbox(复选框)
        </div>
        <div class="item" active="1,demo,grid-list">
            grid-list(栅格)
        </div>
        <div class="item" active="1,demo,form">
            form(表单元素)
        </div>
        <div class="item" active="1,demo,list">
            list(列表)
        </div>
        <div class="item" active="1,demo,card">
            card(卡片)
        </div>
        <div class="item" active="1,demo,radio">
            radio(单选框)
        </div>
        <div class="item" active="1,demo,range">
            range(滑块)
        </div>
        <div class="item" active="1,demo,toggle">
            toggle(开关)
        </div>
        <!-- 核心功能 -->
        <div class="item item-divider">核心功能</div>
        <div class="item" active="1,demo,ui">
            ui(UI界面)
        </div>
        <div class="item" active="1,demo,event">
            gesture event(手势事件)
        </div>
        <div class="item" active="1,demo,event-sub">
            global event(全局事件)
        </div>
        <div class="item" active="1,demo,ajax">
            ajax(数据请求)
        </div>
        <div class="item" active="1,demo,device">
            device(设备访问)
        </div>
        <div class="item" active="1,demo,pull">
            pull(下拉刷新)
        </div>

        <!-- 插件 -->
        <div class="item item-divider">插件</div>
        <div class="item" active="1,demo,scrollload">
            scrollload(滚动加载)
        </div>
        <div class="item" active="1,demo,number-box">
            number-box(数字输入框)
        </div>
        <div class="item" active="1,demo,slide">
            slide(图片轮播)
        </div>
        <div class="item" active="1,demo,img-view">
            img-view(图片相册+图片缓存)
        </div>
        <div class="item" active="1,demo,lazyload">
            lazyload(图片懒加载)
        </div>
        <div class="item" active="1,demo,download">
            download(下载)
        </div>
        <div class="item" active="1,demo,getpicture">
            getpicture (上传图片示例)
        </div>
        <div class="item" active="1,demo,chart">
            chart(Echart图表)
        </div>
        <div class="item" active="1,demo,option-list">
            option-list(选项列表)
        </div>
        <div class="item" active="1,demo,validform">
            validform(表单验证)
        </div>
        <div class="item" active="1,demo,picker">
            picker(选择器)
        </div>
        <div class="item" active="1,demo,datepicker">
            datepicker(日期选择器)
        </div>
        <div class="item" active="1,demo,render-data">
            render-data(数据渲染)
        </div>

        <!-- 模板 -->
        <div class="item item-divider">模板</div>
        <div class="item" active="1,demo,error">
            error(错误页)
        </div>
        <div class="item" active="1,demo,placeholder">
            placeholder(空列表模板)
        </div>
        <div class="item" active="1,demo,chooseList">
            chooseSelect (多级选择)
        </div>
        <div class="item" id="openWeb" active>
            web Viewer (打开网页)
        </div>
        <div class="item" active="1,demo,getLocation">
            getLocation (获取定位)
        </div>
        <div class="item" active="1,demo,baidu-map">
            baidu-map(百度地图)
        </div>
        <div class="item" active="1,demo,paper">
            paper (问卷调查)
        </div>
        <div class="item" active="1,demo,tabList">
            tabList (多标签列表)
        </div>
        <div class="item" active="1,demo,list2detail">
            list2detail (列表跳详细极致优化)
        </div>
        <div class="item" active="1,demo,scroll-list">
            scoll-list (下拉刷新+滚动加载)
        </div>
        <div class="item" active="1,demo,ota">
            OTA-plugins(扩展插件)
        </div>
    </div>
</body>
<script src="../../../sdk/loader.js" data-script="content"> </script>

</html>
