<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link href="../../../sdk/ui.css" rel="stylesheet">
    <link href="content.css" rel="stylesheet">
</head>

<body class="flex-col scroll_cont list">
    <!-- UI示例 -->
    <div class="item item-divider">UI示例</div>
    <div class="item" active="1,demo,color">
        <p>color(情景色)</p>
    </div>
    <div class="item" active="1,demo,badge">
        <p>badge(角标)</p>
    </div>
    <div class="item" active="1,demo,button">
        <p>button(按钮)</p>
    </div>
    <div class="item" active="1,demo,icon">
        <p>icon(图标)</p>
    </div>
    <div class="item" active="1,demo,checkbox">
        <p>checkbox(复选框)</p>
    </div>
    <div class="item" active="1,demo,grid-list">
        <p>grid-list(栅格)</p>
    </div>
    <div class="item" active="1,demo,form">
        <p>form(表单元素)</p>
    </div>
    <div class="item" active="1,demo,list">
        <p>list(列表)</p>
    </div>
    <div class="item" active="1,demo,card">
        <p>card(卡片)</p>
    </div>
    <div class="item" active="1,demo,radio">
        <p>radio(单选框)</p>
    </div>
    <div class="item" active="1,demo,range">
        <p>range(滑块)</p>
    </div>
    <div class="item" active="1,demo,toggle">
        <p>toggle(开关)</p>
    </div>
    <!-- 核心功能 -->
    <div class="item item-divider">核心功能</div>
    <div class="item" active="1,demo,ui">
        <p>ui(UI界面)</p>
    </div>
    <div class="item" active="1,demo,event">
        <p>event(手势事件)</p>
    </div>
    <div class="item" active="1,demo,ajax">
        <p>ajax(数据请求)</p>
    </div>
    <div class="item" active="1,demo,device">
        <p>device(设备访问)</p>
    </div>
    <div class="item" active="1,demo,pull">
        <p>pull(下拉刷新)</p>
    </div>
    
    <!-- 插件 -->
    <div class="item item-divider">插件</div>
    <div class="item" active="1,demo,scrollload">
        <p>scrollload(滚动加载)</p>
    </div>
    <div class="item" active="1,demo,number-box">
        <p>number-box(数字输入框)</p>
    </div>
    <div class="item" active="1,demo,slide">
        <p>slide(图片轮播)</p>
    </div>
    <div class="item" active="1,demo,img-view">
        <p>img-view(图片相册)</p>
    </div>
    <div class="item" active="1,demo,lazyload">
        <p>lazyload(图片懒加载)</p>
    </div>
    <div class="item" active="1,demo,download">
        <p>download(下载)</p>
    </div>
    <div class="item" active="1,demo,chart">
        <p>chart(Echart图表)</p>
    </div>
    <div class="item" active="1,demo,option-list">
        <p>option-list(选项列表)</p>
    </div>
    <div class="item" active="1,demo,validform">
        <p>validform(表单验证)</p>
    </div>
    <div class="item" active="1,demo,picker">
        <p>picker(选择器)</p>
    </div>
    <div class="item" active="1,demo,datepicker">
        <p>datepicker(日期选择器)</p>
    </div>
    <div class="item" active="1,demo,render-data">
        <p>render-data(数据渲染)</p>
    </div>

    <!-- 模板 -->
    <div class="item item-divider">模板</div>
    <div class="item" active="1,demo,placeholder">
        <p>placeholder(空列表模板)</p>
    </div>
    <div class="item" active="1,demo,chooseList">
        <p>chooseSelect (多级选择)</p>
    </div>
    <div class="item" active="1,demo,getpicture">
        <p>getpicture (选取并上传图片示例)</p>
    </div>
    <div class="item" id="openWeb">
        <p>web Viewer (打开网页)</p>
    </div>
    <div class="item" active="1,demo,getLocation">
        <p>getLocation (获取定位)</p>
    </div>
    <div class="item" active="1,demo,baidu-map">
        <p>baidu-map(百度地图)</p>
    </div>
    <div class="item" active="1,demo,searchList">
        <p>searchList (带搜索列表)</p>
    </div>
    <div class="item" active="1,demo,paper">
        <p>paper (问卷调查)</p>
    </div>
    <div class="item" active="1,demo,list2detail">
        <p>list2detail (列表到详细页)</p>
    </div>
    <div class="item" active="1,x">
        <p>test (测试页)</p>
    </div>
</body>
<script src="../../../config.js"></script>
<script src="../../../sdk/core.js" id="seajsnode"></script>
<script>
seajs.use('./content');
</script>

</html>
