<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="format-detection" content="telephone=no">
		<link href="../../../sdk/ui.css" rel="stylesheet">
		<link href="style.css" rel="stylesheet">
	</head>
	<body class="flex-col">
		<div class="head">
	        <div class="title">HelloApp</div>
	    </div>
		<div class="flex-1 flex-col scroll_cont" id="view">
			
		</div>
		<div class="foot">
	        <ul class="flex-row tabs tabs-ion-top">
                <li class="flex-1 tab-item cur"><i class="ion">&#xe64a;</i>首页</li>
                <li class="flex-1 tab-item"><i class="ion">&#xe641;</i>动态</li>
                <li class="flex-1 tab-item"><i class="ion">&#xe6bb;</i>产品</li>
                <li class="flex-1 tab-item"><i class="ion">&#xe634;</i>我的</li>
            </ul>
	    </div>
	</body>
	<script src="../../../config.js"></script><script src="../../../sdk/core.js" id="seajsnode" ></script>
	<script>
		seajs.use('./script');
	</script>
</html>