<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <link href="../../../sdk/ui.css" rel="stylesheet">
        <link href="content.css" rel="stylesheet">
    </head>
    <body class="flex-col">
        <div class="flex-1 pr" id="bdMap">
            
        </div>
        <div class="item item-icon-right" id="choosePC">
        当前省市：<span id="addrProv"></span> <span id="addrCity"></span> <span id="addrArea"></span>
        <i class="ion">&#xe662;</i>
        </div>
        <div class="item item-input item-icon-right">
            <span class="input-label">详细地址：</span><input type="text" id="addrText" placeholder="请输入详细地址">
            <i class="ion">&#xe6d2;</i>
        </div>
    </body>
    <script src="../../../config.js"></script><script src="../../../sdk/core.js" id="seajsnode" ></script>
    <script>
    seajs.use('./content')
    </script>
</html>