<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <link href="../../../sdk/ui.css" rel="stylesheet">
        <link href="style.css" rel="stylesheet">
        
    </head>
    <body>
        <div class="loginWrap">
            <div class="wLogo"></div>
            <form class="list loginForm" id="regForm">
                <label class="item item-input">
                    <span class="input-label"><i class="ion">&#xe698;</i></span>
                    <input type="tel" name="obj.usern" id="usern" datatype="m" nullmsg="请输入手机号！" placeholder="请输入您的手机号">
                </label>
                <div class="item item-input">
                    <span class="input-label"><i class="ion">&#xe6cf;</i></span>
                    <input type="text" name="reg_rand" datatype="n4-4" nullmsg="请输入验证码" placeholder="请输入验证码">
                    <div class="btn btn-ghost btn-sm getCode" id="getCode">获取验证码</div>
                </div>
                <label class="item item-input">
                    <span class="input-label"><i class="ion">&#xe83a;</i></span>
                    <input type="password" name="obj.password" datatype="*6-16" id="password" placeholder="请输入您的密码">
                </label>
                <label class="item item-input">
                    <span class="input-label"><i class="ion">&#xe83a;</i></span>
                    <input type="password" datatype="*" recheck="obj.password" errormsg="两次输入密码不一致！" id="repw" placeholder="再次输入密码">
                </label>
                <label class="item item-input">
                    <span class="input-label"><i class="ion">&#xe83a;</i></span>
                    <input type="text" name="invite_code" placeholder="请输入邀请码（选填）">
                </label>
                <div class="item item-checkbox reg_agree">
                    <label class="checkbox checkbox-primary">
                        <input type="checkbox" id="agree" checked>
                    </label>
                    我已阅读并同意<span class="openView" data-view="2,member,xieyi">《智慧重汽用户注册协议》</span>
                </div>
                <button type="submit" class="btn btn-block btn-primary _sub">立即注册</button>
                <div class="btn btn-link btn-block toLog" id="toLog">已有账号?立即登录</div>
            </form>
        </div>
    </body>
    <script src="../../../config.js"></script><script src="../../../sdk/core.js" id="seajsnode" ></script>
    <script>
    seajs.use('./script')
    </script>
</html>