<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link href="../../../sdk/ui.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    
  </head>
  <body class="flex-col">
    <div class="head myhead">
      <div class="btn" id="goBack"> <i class="ion">&#xe7b7;</i> </div>
      <div class="title" id="headTitle">交易评价</div>
    </div>
    <div class="filter flex-row" id="recommFilter">
      <div class="flex-1 cur">近一周</div>
      <div class="flex-1">近一月</div>
      <div class="flex-1">三个月</div>
      <div class="flex-1">全部</div>
    </div>
    <div class="flex-1 scroll_cont" id="mainCont">
      <div class="ratesList">
        <ul id="commentList">
        </ul>
      </div>
      <textarea id="commentListTemp" class="hide">
      <!-- for: ${data} as ${comment} -->
      <li class="_item">
        <img data-src="../../../res/img/prog.gif" class="_img" data-remote="${comment.img|source}">
        <div class="_info">
          <div class="_num">订单号：<strong>${comment.no}</strong></div>
          <div class="_title">配件名称：${comment.name}</div>
          <div class="_picNum">图号：${comment.partNo}</div>
        </div>
        <div class="_raty">
          <ul>
            <li>配件真伪：<span class="_stars"></span>(<span class="_score">${comment.trueScore}</span>)</li>
            <li>配件准确：<span class="_stars"></span>(<span class="_score">${comment.exactScore}</span>)</li>
            <li>物流及时：<span class="_stars"></span>(<span class="_score">${comment.timelyScore}</span>)</li>
            <li>价格合理：<span class="_stars"></span>(<span class="_score">${comment.chargeScore}</span>)</li>
          </ul>
        </div>
        <div class="_text">
          ${comment.content}
        </div>
      </li>
      <!-- /for -->
      </textarea>
    </div>
  </body>
  <script src="../../../config.js"></script><script src="../../../sdk/core.js" id="seajsnode" ></script>
  <script>
  seajs.use('./script')
  </script>
</html>