<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link href="../../../sdk/ui.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
  </head>
  <body class="flex-col">
    <div class="head myhead">
      <div class="btn" id="goBack"> <i class="ion">&#xe7b7;</i> </div>
      <div class="title" id="headTitle">设置密码</div>
    </div>
    <form class="flex-1 scroll_cont" id="resetPwForm" aciton="">
      <div class="list card padding form">
        <label class="item item-input item-icon-left">
          <i class="ion">&#xe712;</i>
          <input type="password" name="password" id="password" datatype="*6-16" errormsg="密码限制6-16位任意字符！" nullmsg="请输入密码！" placeholder="新密码">
        </label>
        <label class="item item-input item-icon-left">
          <i class="ion">&#xe679;</i>
          <input type="password" datatype="*" recheck="password" errormsg="两次输入密码不一致！" placeholder="确认新密码">
        </label>
      </div>
      <div class="margin">
        <button type="submit" class="btn btn-block btn-primary btn-lg">确定</button>
      </div>
    </form>
  </body>
  <script src="../../../config.js"></script><script src="../../../sdk/core.js" id="seajsnode" ></script>
  <script>
  seajs.use('./script')
  </script>
</html>