<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link href="../../../sdk/ui.css" rel="stylesheet">

</head>

<body class="flex-col">
    <div class="head">
        <div class="btn" id="goBack">
            <i class="ion">&#xe651;</i>
        </div>
        <div class="title">卡片演示</div>
    </div>
    <div class="flex-1 flex-col scroll_cont">
        <div class="list card">
            <div class="item">
                卡片模式列表
            </div>
            <div class="item">
                卡片模式列表
            </div>
            <div class="item">
                卡片模式列表
            </div>
        </div>
        <div class="card">
            <div class="item item-body">
                This is a basic Card which contains an item that has wrapping text.
            </div>
        </div>
        <div class="card">
            <div class="card-head">
                <div class="card-title">
                    页眉
                </div>
            </div>
            <div class="item item-body">
                This is a basic Card which contains an item that has wrapping text.
            </div>
            <div class="card-foot">
                页脚
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="rect-50 m-b">
                    <img data-src="http://host.refined-x.com/bing.php" class="_full" alt="">
                </div>
                <h2>Here is title!</h2>
                <div class="item-body">
                    <p>This is a basic Card which contains an item that has wrapping text.</p>
                </div>
            </div>
            <div class="card-foot">
                <a href="javascript:;" class="btn btn-link r">按钮</a>
                页脚
            </div>
        </div>
    </div>
</body>
<script src="../../../sdk/loader.js" data-script="script"> </script>

</html>
