<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link href="../../sdk/ui.css" rel="stylesheet">
</head>

<body class="oh">
    <div class="slider-wrap" id="Slider-wrapper"></div>
</body>
<script src="../../config.js"></script>
<script src="../../sdk/core.js" id="seajsnode"></script>
<script>
seajs.use('./script');
</script>

</html>