body { background:#f3f3f3;}
.jifen .item { padding:0.8em;}
.jifen p { color:#999;}
.jifen ._num { width:auto; height:1.6em; line-height:1.6em; font-size:1.2em; color:#e70014; font-weight:bold; 
	position:absolute; right:0.5em; top:50%; margin-top:-0.8em;}