<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link href="../../../sdk/ui.css" rel="stylesheet">

</head>

<body class="flex-col">
    <div class="head">
        <div class="btn" id="goBack">
            <i class="ion">&#xe651;</i>
        </div>
        <div class="title">表单验证演示</div>
    </div>
    <div class="flex-1 flex-col scroll_cont">

        <form class="list" id="form">
            <label class="item item-input">
                <label>用户名：</label>
                <input type="text" class="inp" name="username" datatype="*" nullmsg="请输入用户名！" >
            </label>
            <label class="item item-input">
                <label>密 码：</label>
                <input type="password" class="inp" name="userpassword" datatype="*6-15" errormsg="密码范围在6~15位之间！">
            </label>
            <label class="item item-input">
                <label>确认密码：</label>
                <input type="password" name="userpassword2" datatype="*" recheck="userpassword" errormsg="您两次输入的密码不一致！">
            </label>
            <label class="item item-input">
                <label>验证码：</label>
                <input type="text" class="inp" name="validnum" datatype="*" nullmsg="请输入验证码！" >
                <img src="http://temp.im/80x20/?text=8888" id="rand">看不清？<a href="###" id="">换一张</a>
            </label>
            <div class="p">
                <button type="submit" class="btn btn-block btn-primary">注册</button>
            </div>
        </form>


    </div>
</body>
<script src="../../../sdk/loader.js" data-script="script"> </script>

</html>
