<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link href="../../../sdk/ui.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    
</head>

<body class="flex-col">
    <div class="head">
        <div class="btn" id="goBack">
            <i class="ion">&#xe6ac;</i>
        </div>
        <div class="title">app.ajax对象</div>
    </div>
    <div class="flex-1 flex-col scroll_cont">
        <div class="list">
            <div class="item">
                <code>app.ajax(option)</code>
                <div class="item-note">
                    封装ajax方法，默认dataType为json，格式必须为
                    <code>
                    {
                    	"status":"Y",
                    	"data":[],
                    	"msg":"status为Y时msg可省略"
                    }
                    </code>
                    
                </div>
            </div>
            <div class="item">
                option.cache[false]
                <div class="item-note">
                    cache为true将缓存ajax结果，断网情况下会读取缓存结果
                </div>
            </div>
            
        </div>
    </div>
</body>
<script src="../../../config.js"></script>
<script src="../../../sdk/core.js" id="seajsnode"></script>
<script>
seajs.use('./script');
</script>

</html>
