body { background:#f3f3f3;}
.item.item-icon-left>.ion:first-child{color:#e70014;}
.refundForm ._sendmsg textarea{width:100%;border:1px solid #ddd;height: 5em;}
.refundForm ._tip{font-size:.24rem;color:#999;}