<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <link href="../../../sdk/ui.css" rel="stylesheet">
        <link href="content.css" rel="stylesheet">
        
    </head>
    <body>
        <div class="list" id="storeList">
        <textarea class="hide" template>
        <!-- for: ${data} as ${store} -->
        <!-- if: ${store.hasSub} != 1 -->
            <!-- if: ${store.multi} -->
            <label class="item item-radio radio-primary chooseListHookMulti" data-id="${store.id}">
                <input type="radio">
                ${store.name}
            </label>
            <!-- else -->
            <div class="item chooseListHook" data-id="${store.id}">
            ${store.name}
            <!-- if: ${store.note} -->
            <div class="item-note">${store.note}</div>
            <!-- /if -->
            </div>
            <!-- /if -->
        <!-- else -->
        <label class="item item-icon-right" data-id="${store.id}">
            <div class="item-body">
               ${store.name}
            </div>
            <i class="ion">&#xe610;</i>
        </label>
        <!-- /if -->
        <!-- /for -->
        </textarea>
    </div>
</body>
<script type="text/javascript">
    var headNode = document.getElementsByTagName('head')[0];
    var confNode = document.createElement('script');
    var coreNode = document.createElement('script');
    var selfPath = window.location.href;
    var widgetPath = "widget://";
    var pathMatch = selfPath.match(/\/view(.+)$/);
    if(pathMatch[1]){
    	selfPath = pathMatch[1];
    	var index = -1;
		var pathDeep = 0;
		do {
			index = selfPath.indexOf("/", index + 1);
			if (index != -1) { 
				pathDeep++;
			}
		} while (index != -1);
		if(pathDeep){
			widgetPath  ="";
			for(var deepStart = 0;deepStart<pathDeep;deepStart++){
				widgetPath += "../";
			}
		}
    }
	
    confNode.type = "text/javascript";
    confNode.src = widgetPath + "config.js";
    coreNode.type = "text/javascript";
    
    if (coreNode.addEventListener) {
      coreNode.addEventListener("load", scriptOnload, false);
    } else if (coreNode.readyState) {
      coreNode.onreadystatechange = function() {
        if (coreNode.readyState == "loaded" || coreNode.readyState == "complete") {
          coreNode.onreadystatechange = null;
          scriptOnload();
        }
      };
    } else {
      coreNode.onload = scriptOnload;
    }
    coreNode.src = widgetPath + "sdk/core.js";
    coreNode.onerror = function(e){
    	console.log(JSON.stringify(e));
    };
    apiready = function() {
      headNode.appendChild(confNode);
      headNode.appendChild(coreNode);
    };
    function scriptOnload(){
      seajs.use("./content");
    }
  </script>
</html>