<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link href="../../../sdk/ui.css" rel="stylesheet">

</head>

<body class="flex-col">
    <div class="head">
        <div class="btn" id="goBack">
            <i class="ion">&#xe651;</i>
        </div>
        <div class="title">懒加载演示</div>
    </div>
    <div class="flex-1 flex-col scroll_cont" id="view">
        <div class="card">
            <div class="item">
                <div class="rect-50 m-b">
                    <img data-lazy="http://host.refined-x.com/bing.php" class="_full" alt="">
                </div>
                <h2>Here is title!</h2>
                <div class="item-body">
                    <p>This is a basic Card which contains an item that has wrapping text.</p>
                </div>
            </div>
            <div class="card-foot">
                <a href="javascript:;" class="btn btn-link r">按钮</a> 页脚
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="rect-50 m-b">
                    <img data-lazy="http://static.refined-x.com/view4.jpg" class="_full" alt="">
                </div>
                <h2>Here is title!</h2>
                <div class="item-body">
                    <p>This is a basic Card which contains an item that has wrapping text.</p>
                </div>
            </div>
            <div class="card-foot">
                <a href="javascript:;" class="btn btn-link r">按钮</a> 页脚
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="rect-50 m-b">
                    <img data-lazy="http://static.refined-x.com/view5.jpg" class="_full" alt="">
                </div>
                <h2>Here is title!</h2>
                <div class="item-body">
                    <p>This is a basic Card which contains an item that has wrapping text.</p>
                </div>
            </div>
            <div class="card-foot">
                <a href="javascript:;" class="btn btn-link r">按钮</a> 页脚
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="rect-50 m-b">
                    <img data-lazy="http://static.refined-x.com/view6.jpg" class="_full" alt="">
                </div>
                <h2>Here is title!</h2>
                <div class="item-body">
                    <p>This is a basic Card which contains an item that has wrapping text.</p>
                </div>
            </div>
            <div class="card-foot">
                <a href="javascript:;" class="btn btn-link r">按钮</a> 页脚
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="rect-50 m-b">
                    <img data-lazy="http://static.refined-x.com/view7.jpg" class="_full" alt="">
                </div>
                <h2>Here is title!</h2>
                <div class="item-body">
                    <p>This is a basic Card which contains an item that has wrapping text.</p>
                </div>
            </div>
            <div class="card-foot">
                <a href="javascript:;" class="btn btn-link r">按钮</a> 页脚
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="rect-50 m-b">
                    <img data-lazy="http://static.refined-x.com/view1.jpg" class="_full" alt="">
                </div>
                <h2>Here is title!</h2>
                <div class="item-body">
                    <p>This is a basic Card which contains an item that has wrapping text.</p>
                </div>
            </div>
            <div class="card-foot">
                <a href="javascript:;" class="btn btn-link r">按钮</a> 页脚
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="rect-50 m-b">
                    <img data-lazy="http://static.refined-x.com/view2.jpg" class="_full" alt="">
                </div>
                <h2>Here is title!</h2>
                <div class="item-body">
                    <p>This is a basic Card which contains an item that has wrapping text.</p>
                </div>
            </div>
            <div class="card-foot">
                <a href="javascript:;" class="btn btn-link r">按钮</a> 页脚
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="rect-50 m-b">
                    <img data-lazy="http://static.refined-x.com/view3.jpg" class="_full" alt="">
                </div>
                <h2>Here is title!</h2>
                <div class="item-body">
                    <p>This is a basic Card which contains an item that has wrapping text.</p>
                </div>
            </div>
            <div class="card-foot">
                <a href="javascript:;" class="btn btn-link r">按钮</a> 页脚
            </div>
        </div>
    </div>
</body>
<script src="../../../sdk/loader.js" data-script="script"> </script>

</html>
