.msgList .item-image img{width:100%;}
.msgList p{color:#999;}
.msgList h3{font-size:1.2em;color:#000;}
.msgList ._date{position: absolute;right:.5em;top:1em;font-size:.9em; color:#999;}
/*.msgList .item{opacity: .7;}
.msgList .unRead{opacity: 1;}*/
body{background:#f5f5f5;}
.msg_time{margin:1em 0 -.8em;}
.msgList ._hd{font-weight: normal;font-size:1.2em; padding:.5em 0;border-bottom:1px solid #ccc;margin-bottom: .5em;}
.msgList ._hd img{height:1.2em;}
.msgList ._ft{padding:.5em 0;}
.msgList ._ft .item-note{color:#666;}
