.msgList .item-image img{width:100%;}
.msgList p{color:#999;}
.msgList h3{font-size:1.2em;color:#000;}
.msgList ._date{position: absolute;right:.5em;top:1em;font-size:.9em; color:#999;}
/*.msgList .item{opacity: .7;}
.msgList .unRead{opacity: 1;}*/
