body{background: #f3f3f3;}
.recomStars img{width:1.5em;margin-right: .2em;}

.foot{padding:0;border:0;}
.foot .item-checkbox{border:0;}
.pro_price{color: #ff4f12; margin: .4em 0;}
.pro_price strong{font-size:1.2em;}
.pro_price ._tag{display: inline-block;padding:0 .5em;border:1px solid;font-size:.9em;}
