body{background: #f3f3f3;}
.item-content-right{padding-right: 5em;}
.item-content-right .item-content{height: 100%;display: -webkit-box; display: -webkit-flex; 
	display: -ms-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; 
	-webkit-align-items: center; -ms-align-items: center; -ms-flex-align: center; 
	align-items: center;min-width: 0;}
.pro_price{color: #ff4f12;margin: .5em 0;}
.pro_price ._tag{display: inline-block;padding:0 .5em;border:1px solid;font-size:.9em;}

.foot{padding: 0;background:#dfdfdf;line-height: normal;border:0;}
.foot .btn{display: block;font-size:.36rem;padding-left: 1em;padding-right: 1em;}
.foot .total{padding:0 .5em; text-align: right;}
.foot .total ._pri{color: #ff4f12;}
.foot .total ._tip{font-size:.9em;color:#999;}
.foot ._order_count{border:0; background:none;}
.cartList .item-thumbnail-left{padding-left: 2.2rem;}
.cartList .item-thumbnail-left img:first-child{left:.7rem;height: auto;}

.cartList .checkbox{position: absolute;left: 0;top:.4rem;}
.cartList h2{color:#000;}
.cartList ._cont p{margin:0; height: 1.7em;line-height: 1.7em;}
.cartList ._chooseColor select{font-size:.9em;padding-left: 0;}

.orderList .item-thumbnail-left{padding-left: 6em;}
.orderList .item-thumbnail-left img:first-child{left:.2rem;}
#confirm{border-radius: 0;}
