@font-face {
    font-family: 'Consolas';
    src: url('./consola.woff') format('woff'),
         url('./consola.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*webkit scroll*/
::-webkit-scrollbar-track-piece {background-color:#f5f5f5;}
::-webkit-scrollbar {width:6px;height:13px;}
::-webkit-scrollbar-thumb {background-color:#c2c2c2;background-clip:padding-box;min-height:28px;border-radius:3px;}
::-webkit-scrollbar-thumb:hover {border:1px solid #636363;background-color:#929292;}
/*
* name: Global && Pc StyleSheet
* version: v3.0.0
* update: 剥离UI.css
* date: 2015-06-29
*/

/* 雪碧图 */
.ico { display: inline-block; overflow: hidden; width: 20px; height: 20px; 
	vertical-align: middle; background: url(../images/ico.png);margin:0 .3em;}
.ico1_2 { background-position: -20px 0;}
.ico1_3 { background-position: -40px 0;}
.ico1_4 { background-position: -60px 0;}
.ico1_5 { background-position: -80px 0;}
.ico2_1 { background-position: 0 -20px;}
.ico2_2 { background-position: -20px -20px;}
.ico2_3 { background-position: -40px -20px;}
.ico2_4 { background-position: -60px -20px;}
.ico2_5 { background-position: -80px -20px;}
.ico3_1 { background-position: 0 -40px;}
.ico3_2 { background-position: -20px -40px;}
.ico3_3 { background-position: -40px -40px;}
.ico3_4 { background-position: -60px -40px;}
.ico3_5 { background-position: -80px -40px;}
.ico4_1 { background-position: 0 -60px;}
.ico4_2 { background-position: -20px -60px;}
.ico4_3 { background-position: -40px -60px;}
.ico4_4 { background-position: -60px -60px;}
.ico4_5 { background-position: -80px -60px;}

/* 比例图片 */
*[class*="rect-"]{position: relative;display: block; width: 100%;height: 0;overflow: hidden;}
*[class*="rect-"] ._full{position: absolute;left: 0;top:0;width: 100%;height: 100%;
*height: auto;}
.rect-5625{padding-bottom: 56.25%;}
.rect-75{padding-bottom: 75%;}
.rect-100{padding-bottom: 100%;}

/* 设置 */
body{font-size:16px; line-height: 1.6; color: #4d4e53;background: #fff;
font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
overflow-x: hidden;}
.wrap { max-width: 1000px; margin-right: auto; margin-left: auto; *width: 1000px;}
a{color: inherit;}
a:hover { color: #39f;}
::-moz-selection {color: #fff; background: #39f; }
::selection {color: #fff; background: #39f; }

/*
flex栅格
*/
.flex-col { display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-orient: vertical; -webkit-flex-direction: column; flex-direction: column; }
.flex-row { display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-orient: horizontal; }
.flex-1 { -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; }
.flex-2 { -webkit-box-flex: 2; -webkit-flex: 2; flex: 2; }
.flex-3 { -webkit-box-flex: 3; -webkit-flex: 3; flex: 3; }
.flex-4 { -webkit-box-flex: 4; -webkit-flex: 4; flex: 4; }
.align-stretch { -webkit-box-align: stretch; -webkit-align-items: stretch; align-items: stretch; }
.align-center { -webkit-box-align: center; -webkit-align-items: center; align-items: center; }
.justify-center { -webkit-box-pack: center; justify-content: center; }
.flex-wrap{-webkit-flex-wrap: wrap; flex-wrap: wrap;}

/*
* style
*/
a[target]{display:inline-block;text-indent:0;margin:0 5px;color:blue;text-decoration:underline;}
a[target]:hover{color:#89D6E6;}
.tc{text-align:center;}
.wrap{margin-bottom:2em;}
p{text-indent:2em;margin:1em 0;}
ol li{margin:1em 0;}
h1{font-weight:normal;font-size:26px;}
h2{color:#2185C5;font-size:24px;margin-bottom: 1em;}
h3{font-size:22px; line-height:2;}
h4{font-size:18px; margin:1em 0;line-height: 1.43; border-left: 5px solid #ccc;  padding: 0 .5em;}
h5{ margin: 1em 0; }
#nav{overflow:auto;border-right:1px solid #ccc;}
#nav li {line-height:2.3;}
#nav li a{font-weight:bold;}
#nav li li a{display: block;line-height:2; height: 2em; font-size:14px;color:#1364c4;padding-left:1em;
	font-weight:normal;border-radius: 4px;}
#nav li li a:hover{background:#eee;color:#333;}
.hasNav{padding-left:200px;}
.hasNav #nav{position:fixed;left:0;top:0;width:160px;padding:0 10px 0 30px;height:100%;}

.modules_index{ border-right:1px solid #ddd;border-bottom:1px solid #ddd;overflow:hidden;
font-size:14px;}
.modules_index a{display:block;text-align:center;line-height:3em;border:1px solid #eee;margin:0 -1px -1px 0;color:#3E454C;}
.modules_index a:hover{background:#eee;}

.demo p{text-indent:0;}
.tip{background:#FF7F66;border-radius:1em;color:#fff;padding-right:2em;}
pre{
	margin: 1em 0 2em;
	display: block;
	background: #f8f8f8;
	border:1px solid #e7e7e7;
	border-left: 5px solid #558abb;
	border-radius: 5px;
	width:90%;
	max-width: 900px;
	*zoom:1;
}
.js-base-table pre{max-width: 700px;}
pre:before,pre:after{content:"";display:table;clear:both;}
code {display: inline-block; margin: 2px; padding:0 6px; border-radius: 4px;  
	font-size:14px;	text-indent: 0;background: #f0f0f0;color:#c7254e;
	font-family: 'Consolas', 'Microsoft YaHei UI', 'Microsoft YaHei', Arial, Helvetica, sans-serif ; 
}

pre code{
	display: none;
	line-height:1.4em;
	background: none;
	margin:0;
	border:0;
	color:inherit;
}
pre code.hljs{display: block;}

header{background:#333;color:#ccc;padding:1.2em 2em;margin-bottom: 30px;}
footer{border-top:1px solid #7ECEFD;padding:0;margin-bottom:0 !important;}

.foot_logo{width:50px;vertical-align:middle;text-align:center;height:4em;line-height:4em;
	position:fixed;right:2em;bottom:2em;
}
.foot_logo figure{margin:0;display:inline-block;width:50%;height:25px;vertical-align:middle;
-webkit-transform-style: preserve-3d;
-webkit-animation-name: foot-logo;
-webkit-animation-duration: 5s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: ease;
transform-style: preserve-3d;
animation-name: foot-logo;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-timing-function: ease;
}
@-webkit-keyframes foot-logo {
	0% { width:73%; border-radius:2px;background:#2185C5;transform: rotateY(0deg);-webkit-transform: rotateY(0deg);}
	23% { width:73%; border-radius:2px;background:#2185C5;transform: rotateY(0deg);-webkit-transform: rotateY(0deg);}
	33% { width:68%; border-radius:6px; background:#7ECEFD;transform: rotateY(180deg);-webkit-transform: rotateY(180deg);}
	56% { width:68%; border-radius:6px;background:#7ECEFD;transform: rotateY(180deg);-webkit-transform: rotateY(180deg);}
	66% { width:35%; border-radius:2px;background:#3E454C;transform: rotateY(360deg);-webkit-transform: rotateY(360deg);}
	89% { width:35%; border-radius:2px;background:#3E454C;transform: rotateY(360deg);-webkit-transform: rotateY(360deg);}
	100% {width:73%; border-radius:2px;background:#2185C5;transform: rotateY(540deg);-webkit-transform: rotateY(540deg);}
}
@keyframes foot-logo {
	0% { width:73%; border-radius:2px;background:#2185C5;transform: rotateY(0deg);-webkit-transform: rotateY(0deg);}
	23% { width:73%; border-radius:2px;background:#2185C5;transform: rotateY(0deg);-webkit-transform: rotateY(0deg);}
	33% { width:68%; border-radius:6px; background:#7ECEFD;transform: rotateY(180deg);-webkit-transform: rotateY(180deg);}
	56% { width:68%; border-radius:6px;background:#7ECEFD;transform: rotateY(180deg);-webkit-transform: rotateY(180deg);}
	66% { width:35%; border-radius:2px;background:#3E454C;transform: rotateY(360deg);-webkit-transform: rotateY(360deg);}
	89% { width:35%; border-radius:2px;background:#3E454C;transform: rotateY(360deg);-webkit-transform: rotateY(360deg);}
	100% {width:73%; border-radius:2px;background:#2185C5;transform: rotateY(540deg);-webkit-transform: rotateY(540deg);}
}

