<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link href="../../../sdk/ui.css" rel="stylesheet">
    <style>
.myhead input[type="search"]{color:#000;}
.searchResult{display: none; position: absolute;left:0;top:0;width:100%;height:100%;
    z-index: 2;}

    </style>
</head>

<body class="flex-col">
    <div class="head myhead">
        <div class="btn" id="goBack">
            <i class="ion">&#xe651;</i>
        </div>
        <div class="title" id="headTitle">
            <form class="item item-input-inset" id="keyForm">
                <label class="item-input-wrapper">
                    <input type="search" placeholder="请输入关键词" id="autoInp">
                </label>
                <button type="submit" class="btn button-ghost">
                    确定
                </button>
            </form>
        </div>
    </div>
    <div class="flex-1 pr">
        <div class="list searchHistory">
            <div class="item item-divider">搜索历史</div>
            <div class="item label-list" id="searchHistory"></div>
        </div>
        <div class="list searchResult" id="searchResult"></div>
    </div>
    <textarea class="hide" id="searchResultTemp">
        <!-- for: ${data} as ${item} -->
        <div class="item">${item.value}</div>
        <!-- /for -->
    </textarea>
</body>
<script src="../../../config.js"></script>
<script src="../../../sdk/core.js" id="seajsnode"></script>
<script>
seajs.use('./script');
</script>

</html>
