<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="format-detection" content="telephone=no">
		<link href="../../../sdk/ui.css" rel="stylesheet">
		<link href="style.css" rel="stylesheet">
		
	</head>
	<body class="flex-col">
		<div class="head">
			<div class="btn" id="goBack">
                <i class="ion">&#xe651;</i>
            </div>
	        <div class="title">设备访问</div>
	    </div>
		<div class="flex-1 flex-col scroll_cont">
			<div class="list">
				<div class="item">
					<button class="btn btn-block btn-primary getInfo">获取设备信息</button>
				</div>
				<div class="item">
					<button class="btn btn-block btn-primary call">拨打电话</button>
				</div>
			</div>
			<div class="p" id="log"></div>
		</div>
	</body>
	<script type="text/javascript">
    var headNode = document.getElementsByTagName('head')[0];
    var confNode = document.createElement('script');
    var coreNode = document.createElement('script');
    var selfPath = window.location.href;
    var widgetPath = "widget://";
    var pathMatch = selfPath.match(/\/view(.+)$/);
    if(pathMatch[1]){
    	selfPath = pathMatch[1];
    	var index = -1;
		var pathDeep = 0;
		do {
			index = selfPath.indexOf("/", index + 1);
			if (index != -1) { 
				pathDeep++;
			}
		} while (index != -1);
		if(pathDeep){
			widgetPath  ="";
			for(var deepStart = 0;deepStart<pathDeep;deepStart++){
				widgetPath += "../";
			}
		}
    }
	
    confNode.type = "text/javascript";
    confNode.src = widgetPath + "config.js";
    coreNode.type = "text/javascript";
    
    if (coreNode.addEventListener) {
      coreNode.addEventListener("load", scriptOnload, false);
    } else if (coreNode.readyState) {
      coreNode.onreadystatechange = function() {
        if (coreNode.readyState == "loaded" || coreNode.readyState == "complete") {
          coreNode.onreadystatechange = null;
          scriptOnload();
        }
      };
    } else {
      coreNode.onload = scriptOnload;
    }
    coreNode.src = widgetPath + "sdk/core.js";
    coreNode.onerror = function(e){
    	console.log(JSON.stringify(e));
    };
    apiready = function() {
      headNode.appendChild(confNode);
      headNode.appendChild(coreNode);
    };
    function scriptOnload(){
      seajs.use("./script");
    }
  </script>
</html>