<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <link href="../../../sdk/ui.css" rel="stylesheet">
        <link href="content.css" rel="stylesheet">
        
    </head>
    <body>
        <textarea class="hide" id="orderListTemp">
        <!-- for: ${data} as ${order} -->
        <div class="list cartList orderList orderRecord" data-id="${order.id}" data-no="${order.no}">
            <div class="item  item-divider">
                ${order.addDate|date}
            </div>
            <!-- for: ${order.subOrderDatas} as ${part}  -->
            <div class="item item-lite">${part.name}<div class="item-note text-danger">${part.sub_status_name}</div></div>
            <!-- for: ${part.subOrderDetailDatas} as ${goods} -->
            <div class="item item-thumbnail-left item-content-right orderGoodsIntro" data-id="${part.id}" data-goodsid="${goods.goods_id}" data-orderid="${part.order_id}">
                <img data-src="../../../res/img/prog.gif" data-remote="${goods.img|source}">
                <h2>${goods.name}</h2>
                <div class="item-content flex-col">
                    <div class="pro_price">
                        <!-- if: ${goods.market_price} != ''&&${goods.market_price}!=' '&&${goods.market_price}!='0' -->
                        <div>￥<strong><s>${goods.market_price|decimal(2)}</s></strong></div>
                        <!-- else -->
                        <div>￥<strong>${goods.price|decimal(2)}</strong></div>
                        <!-- /if -->
                    </div>
                    <div class="pro_count_show">
                        X<span class="_countShow">${goods.amount}</span>
                    </div>
                </div>
                <div class="_cont">
                    <p>图号:${goods.product_no}</p>
                    <p>最小单元包装数:${goods.min_buy_count} ;
                        计量单位:${goods.unit}</p>
                    <!-- if: ${goods.remark[0].name} -->
                    <div class="_chooseColor">
                        <p>备注信息：
                        <span class="_colorShow">${goods.remark[0].value}</span></p>
                    </div>
                    <!-- /if -->
                </div>
            </div>
            <!-- /for -->
            <!-- /for -->
            <div class="item orderTotal">
                <p>共${order.itemNum}件   合计：<span class="orderPrice">￥${order.finalAmount|decimal(2)}
                <!-- if: ${order.deliveryId}=='1' -->
                </span>（含运费￥${order.costShip|decimal(2)}）</p>
                <!-- else -->
                </span>(自提)</p>
                <!-- /if -->
                
                <!-- if: ${order.orderControls} -->
                <div class="_actions">
                    <!-- for: ${order.orderControls} as ${control} -->
                    <button type="button" class="btn btn-sm btn-${control.class}" data-action="${control.class}">${control.text}</button>
                    <!-- /for -->
                </div>
                <!-- /if -->
            </div>
        </div>
        <!-- /for -->
        </textarea>
    </body>
    <script src="../../../config.js"></script><script src="../../../sdk/core.js" id="seajsnode" ></script>
    <script>
    seajs.use('./content')
    </script>
</html>