.filter-toggle .ion{font-size:.36rem;margin-left: .2rem}
.partSearch{margin-top:.5em;}
.partSearch ._submit{background: #e70014;cursor: pointer;font-size:.36rem;width:4em;
margin-left: .5em;}
.partSearch ._submit .ion{font-size:1.5em;}
.partSearch ._inp{display: block;border:1px solid;background:rgba(255,255,255,.5);
padding:.4em;width:100%;margin-top: .5em;color:#fff;}
.partSearch ._inp:first-child{margin-top: 0;}
.partSearch ._inp::-webkit-input-placeholder{color:#fff;}

/*配件类别*/
.partItem{padding:.8em .8em .3em;border-bottom:1px solid #ccc;}
.partItem li{background:#f3f2f2;line-height: 1.9em; text-align: center;margin-bottom: .5em;
	color:#666;border: 1px solid #cacccd;border-radius: 2px; box-sizing: border-box;overflow: visible;}
.partItem .cur{color:#fff;background:#d33835;}
.partItem .isTop{position: relative;}
.partItem .isTop:after{content: "HOT";color:#fff;position: absolute;right:-.5em;top:-.5em;
font-size:.7em;font-weight: 700;line-height: 1em;background:#d43f3a;border-radius: 2px;padding:.2em;}
/*头部*/
.openSearch{background: #fff;position: absolute;left: 14%;bottom: .6em;width: 80%;box-sizing: border-box;
height: 2.2em;line-height: 2.2em; border-radius: .3em;}
.openSearch ._label{color:#777;font-size:.8em;padding:0 1em;}
.openSearch .btn{height: 2.2em;line-height: 2.5em;color:#337ab7;}
.openSearch .btn .ion{margin:0;}
.openSearch.active ._label{color:#e70014;}
