<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <link href="../../../sdk/ui.css" rel="stylesheet">
        <link href="style.css" rel="stylesheet">
        
    </head>
    <body class="flex-col">
        <div class="head myhead">
            <div class="btn" id="goBack">
                <i class="ion">&#xe62d;</i>
            </div>
            <div class="openSearch" id="openSearch">
                <div class="_label">配件名称/类别/图号</div>
                <div class="btn text-primary">
                    <i class="ion">&#xe7da;</i>
                </div>
            </div>
        </div>
        <div class="partItem">
            <ul class="row" id="catList">
                <textarea class="hide" id="catListTemp">
                <li class="span-3 el" data-val="">所有分类</li>
                <!-- for: ${data} as ${cat} -->
                <li class="span-3 el<!-- if: ${cat.isTop}=='1' --> isTop<!-- /if -->" data-val="${cat.id}">${cat.name}</li>
                <!-- /for -->
                </textarea>
            </ul>
        </div>
        <div class="flex-1" id="mainCont">
        </div>
    </body>
    <script src="../../../config.js"></script><script src="../../../sdk/core.js" id="seajsnode" ></script>
    <script>
    seajs.use('./script');
    </script>
</html>