<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link href="../../../sdk/ui.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    
</head>

<body class="flex-col">
    <div class="head">
        <div class="btn" id="goBack">
            <i class="ion">&#xe62d;</i>
        </div>
        <div class="title">app.window对象</div>
    </div>
    <div class="flex-1 flex-col scroll_cont">
        <div class="list">
            <div class="item">
                <code>app.window.open(name, url, data, anim, dura)</code>
                <div class="item-note">
                   打开一个window(使用app.openView更便捷)
                </div>
            </div>
            <div class="item">
                <code>app.window.close([winName],[animId],[animDuration])</code>
                <div class="item-note">
                    关闭一个window，若不传winName则关闭当前window
                </div>
            </div>
            <div class="item">
                <code>app.window.on(type, calback)</code>
                <div class="item-note">
                    window事件，支持："pause","resume","scrolldown","scrollup","swipleft","swipright"
                </div>
            </div>
            <div class="item">
                <code>app.openToast(msg, [duration], [position])</code>
                <div class="item-note">
                    弹出一个toast提示，duration默认2000，position默认‘bottom’
                </div>
            </div>
            <div class="item">
                <code>app.window.popoverElement(id, url, [name])</code>
                <div class="item-note">
                    在指定元素区域打开一个浮动窗口，name不传将默认为id
                </div>
            </div>
            <div class="item">
                <code>app.window.openPopover(name, url, data, [left], [top], [width], [height], [bottomMargin], [bounces])</code>
                <div class="item-note">
                    打开一个浮动窗口
                </div>
            </div>
            <div class="item">
                <code>app.window.resizePopover(name, left, top, width, height)</code>
                <div class="item-note">
                    修改指定name的浮动窗口位置/尺寸
                </div>
            </div>
            <div class="item">
                <code>app.window.subscribe(eventName, callback)</code>
                <div class="item-note">
                    监听eventName事件，callback将接收事件参数
                </div>
            </div>
            <div class="item">
                <code>app.window.publish(eventName, msg)</code>
                <div class="item-note">
                    发布eventName事件，并附带msg作为事件参数
                </div>
            </div>
            <div class="item">
                <code>app.window.evaluateScript(name, scriptContent)</code>
                <div class="item-note">
                    在指定name的window中执行脚本scriptContent
                </div>
            </div>
            <div class="item">
                <code>app.window.evaluatePopoverScript(name, popName, scriptContent)</code>
                <div class="item-note">
                    在指定name的window中的popName浮动窗口执行脚本scriptContent
                </div>
            </div>
            
        </div>
    </div>
</body>
<script src="../../../config.js"></script>
<script src="../../../sdk/core.js" id="seajsnode"></script>
<script>
seajs.use('./script')
</script>

</html>
