<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <link href="../../sdk/ui.css" rel="stylesheet">
    </head>
    <body class="flex-col">
        <div class="flex-1 scroll_cont">
            空白页面
        </div>
    </body>
    <script src="../../sdk/loader.js" data-script="script"> </script>
</html>