<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link href="../../../sdk/ui.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
  </head>
  <body class="flex-col">
    <div class="head myhead">
      <div class="btn" id="goBack"> <i class="ion">&#xe7b7;</i> </div>
      <div class="title" id="headTitle">更改手机号</div>
    </div>
    <form class="flex-1 scroll_cont" id="validMobileForm">
      <div class="list card padding form">
        <label class="item item-input item-icon-left">
          <i class="ion">&#xe7e8;</i>
          <input type="password" name="login_pwd" datatype="*" null-msg="输入登陆密码" placeholder="输入登陆密码">
        </label>
        <div class="item item-input item-icon-left">
          <i class="ion">&#xe701;</i>
          <input type="tel" name="tmp_mobile" datatype="m" id="mobile" placeholder="请输入新手机号">
          <div class="item-note">
            <button class="btn btn-primary" id="getCode">获取短信验证码</button>
          </div>
        </div>
        <label class="item item-input item-icon-left">
          <i class="ion">&#xe6cf;</i>
          <input type="number" name="change_rand" datatype="n4-4" null-msg="输入验证码" placeholder="输入验证码">
        </label>
      </div>
      <div class="margin">
        <button type="submit" class="btn btn-block btn-primary btn-lg disabled" id="goNext">提交</button>
      </div>
    </form>
  </body>
  <script src="../../../config.js"></script><script src="../../../sdk/core.js" id="seajsnode" ></script>
  <script>
  seajs.use('./script')
  </script>
</html>