body{background:none;}
/*配件*/
.partsList ._item{ color:#444;}
.partsList ._item p{color:#999; }
.partsList ._pic{width:30%;margin-right: 3%;}
.partsList ._cont{white-space: nowrap;overflow: hidden;}
.partsList ._price{display: block;font-size:.36rem;color:#e70014; }
.partsList ._delete{display: none; background:#e70014;color:#fff;font-size:.32rem;padding:0 1em;cursor: pointer;}
body.editing .partsList ._delete{display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;}
/*服务*/
.servState h3{color:#e70014;margin-bottom:.5em;}
.servState h3 em{display: inline-block; font-size:.24rem;font-weight: normal;margin-left: 1em;}
.servState ._distance{float: right;color:#666;font-weight: normal;font-size:.28rem;}
.servState ._detail{font-size:.24rem;color:#999;}
.servState ._detail li{margin-top:.2rem;}
.servState ._detail ._stars img{width:1em;}
.servState ._detail .ion{color:#e3614c;}
.servState ._delete{position: absolute;width:0;height:0;border:.8rem solid;border-color:#e70014 #e70014 transparent transparent;
right:0;top:0;display: none;}
.servState ._delete:after{content: "删除";position: absolute;font-size:.28rem;color:#fff;
right:-.6rem;top:-.4rem;white-space: nowrap;}
body.editing .servState ._delete{display: block;}
