<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link href="../../../sdk/ui.css" rel="stylesheet">
    <link href="content.css" rel="stylesheet">
  </head>
  <body>
    <textarea class="hide" id="partsFavTemp">
    <!-- for: ${data} as ${part} -->
    <div class="list card padding partsList" data-id="${part.goodsId}" data-title="${part.goodsName}">
        <div class="_item flex-row">
            <div class="_pic">
                <div class="rect-100">
                    <div class="_full loading-place" data-remote="${part.goodsImg|source}"></div>
                </div>
            </div>
            <div class="flex-1">
                <div class="_cont">
                    <h3>${part.goodsName}</h3>
                    <p>图号：${part.no}</p>
                    <strong class="_price">￥${part.goodsPrice|decimal(2)}</strong>
                </div>
            </div>
            <div class="_delete align-center">
              删除
            </div>
        </div>
    </div>
    <!-- /for -->
    </textarea>
    <textarea class="hide" id="serverFavRender">
    <!-- for: ${data} as ${store} -->
    <div class="list card padding servState" data-id="${store.dataId}">
        <h3>${store.name}<em>${store.serverLevel}</em></h3>
        <p>${store.bName}</p>
        <ul class="_detail">
            <li>详细地址：${store.address}</li>
            <li>主营业务：${store.business}</li>
            <li class="_call">手机号码：<a href="tel:${store.mobile}">${store.mobile}</a><i class="ion">&#xe833;</i></li>
            <li class="_call">服务电话：<a href="tel:${store.telephone}">${store.telephone}</a><i class="ion">&#xe833;</i></li>
            <li>用户评分：<span class="_stars"></span>（<span class="_score">${store.generalScore|decimal}</span>）</li>
        </ul>
        <div class="_delete"></div>
    </div>
    <!-- /for -->
    </textarea>
  </body>
  <script src="../../../config.js"></script><script src="../../../sdk/core.js" id="seajsnode" ></script>
  <script>
  seajs.use('./content')
  </script>
</html>