<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link href="../../../sdk/ui.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
  </head>
  <body class="flex-col">
    <div class="head myhead">
      <div class="btn" id="goBack"> <i class="ion">&#xe7b7;</i> </div>
      <div class="title" id="headTitle">我的收藏</div>
      <div class="btn" id="edit">
        <i class="ion">&#xe63c;</i>
        <i class="ion hide">&#xe640;</i>
      </div>
    </div>
    <div class="item shop_channel" id="shopChannel">
        <h2 class="_item" data-view="parts">配件收藏</h2>
        <h2 class="_item" data-view="service">服务站收藏</h2>
    </div>
    <div class="flex-1 scroll_cont" id="view">
        
    </div>
  </body>
  <script src="../../../config.js"></script><script src="../../../sdk/core.js" id="seajsnode" ></script>
  <script>
  seajs.use('./script')
  </script>
</html>