body{background:#f3f3f3;}
.memHead{background: url(head.jpg) no-repeat;background-size: cover;color:#fff;}
.pac{position: absolute;left:25%; top:50%; width:50%;height:10em;margin-top: -6.2em;
 text-align: center;}
.avat{display: block;margin:0 auto .2em;width:6.4em;height: 6.4em;border:2px solid #fff;
	 border-radius: 50%;overflow: hidden;background:url(../../res/img/avat.jpg) center no-repeat;
	 background-size: cover;}
.avat img{width: 100%;}
.setbtn{position: absolute;left:.8em;top:.8em; font-size:1.2em;}
.memHead ._tabs{position: absolute;left:0;bottom:0;width:100%;height:3em;line-height: 3em;
color:#fff;background:rgba(0,0,0,.4);}
.memHead ._item{float:left;width:33.3%;text-align: center;box-sizing:border-box;border-left:1px solid #ccc;}
.memHead ._item:first-child{border-left:0;}
.memHead .ion{font-size:1.5em;margin-left: 0;}
.item-icon-left.item-icon-right .ion:last-child{font-size:1.2em;}
.orderFlagList{padding:0;}
.orderFlagList li{position: relative;padding:.8em 0;}
.orderFlagList .badge{right: .3em;top: .2em;font-size: .8em;}
