<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <link href="../../sdk/ui.css" rel="stylesheet">
        <link href="style.css" rel="stylesheet">
    </head>
    <body class="flex-col">
        <div class="flex-1 scroll_cont">
            <div class="memHead">
                <div class="rect-5625">
                    <div class="pac">
                        <div class="avat align-center"><img id="avat"></div>
                        <p id="usern"></p>
                        <p>我的积分：<span id="score"></span>分</p>
                    </div>
                    <div class="setbtn" id="toSet" openView="2,member,set">
                        <i class="ion">&#xe7c4;</i>
                    </div>
                    
                </div>
            </div>
            <div class="list">
                <div class="item item-icon-left item-icon-right" openView="2,member,msgList">
                    <i class="ion">&#xe82a;</i>我的消息
                    <i class="ion">&#xe7b9;</i>
                </div>
                <div class="item item-icon-left item-icon-right" openView="2,member,favor">
                    <i class="ion">&#xe827;</i>我的收藏
                    <i class="ion">&#xe7b9;</i>
                </div>
            </div>
            <div class="list">
                <div class="item item-icon-left item-icon-right" openView="2,shop,orderList">
                    <i class="ion">&#xe823;</i>我的订单
                    <div class="item-note">查看我的所有订单</div>
                    <i class="ion">&#xe7b9;</i>
                </div>
                <div class="item item-lite">
                    <ul class="flex-row tabs tabs-ion-top orderFlagList" id="orderFlagList">
                        <li class="flex-1 tab-item" data-flag="1"><i class="ion">&#xe842;</i>待付款<span class="badge"></span></li>
                        <li class="flex-1 tab-item" data-flag="2"><i class="ion">&#xe841;</i>待发货<span class="badge"></span></li>
                        <li class="flex-1 tab-item" data-flag="3"><i class="ion">&#xe844;</i>待收货<span class="badge"></span></li>
                        <li class="flex-1 tab-item" data-flag="4"><i class="ion">&#xe848;</i>待评价<span class="badge"></span></li>
                    </ul>
                </div>
                <div class="item item-icon-left item-icon-right" openView="2,shop,recommOrder">
                    <i class="ion">&#xe825;</i>交易评价
                    <i class="ion">&#xe7b9;</i>
                </div>
            </div>
            <div class="list">
                <div class="item item-icon-left item-icon-right" openView="2,member,address">
                    <i class="ion">&#xe7df;</i>收货地址
                    <div class="item-note">收货地址管理</div>
                    <i class="ion">&#xe7b9;</i>
                </div>
                <div class="item item-icon-left item-icon-right" openView="2,member,setPersonal">
                    <i class="ion">&#xe698;</i>个人资料
                    <div class="item-note">个人资料管理</div>
                    <i class="ion">&#xe7b9;</i>
                </div>
                <div class="item item-icon-left item-icon-right" openView="2,member,score">
                    <i class="ion">&#xe843;</i>我的积分<i class="ion">&#xe7b9;</i>
                </div>
                <div class="item item-icon-left item-icon-right" openView="2,member,changePw">
                    <i class="ion">&#xe83a;</i>安全设置<i class="ion">&#xe7b9;</i>
                </div>
            </div>
            <div class="list">
                <div class="item item-icon-left item-icon-right" openView="2,member,invite">
                    <i class="ion">&#xe86c;</i>邀请好友<i class="ion">&#xe7b9;</i>
                </div>
                <div class="item item-icon-left item-icon-right"  openView="2,member,about">
                   <i class="ion">&#xe865;</i>关于我们<i class="ion">&#xe7b9;</i>
                </div>
                <div class="item item-icon-left item-icon-right" openView="2,member,feedback">
                    <i class="ion">&#xe866;</i>意见反馈<i class="ion">&#xe7b9;</i>
                </div>
                <!-- <div class="item item-icon-left item-icon-right">
                   <i class="ion">&#xe813;</i>给个好评<i class="ion">&#xe7b9;</i>
                </div> -->
             </div>
        </div>
        <div class="foot">
            <ul class="flex-row tabs tabs-ion-top">
                <li class="flex-1 tab-item" id="home"><i class="ion">&#xe67b;</i>首页</li>
                <li class="flex-1 tab-item" id="newsfeed"><i class="ion">&#xe69c;</i>动态</li>
                <li class="flex-1 tab-item" id="parts"><i class="ion">&#xe83b;</i>产品</li>
                <li class="flex-1 tab-item cur" id="member"><i class="ion">&#xe867;</i>我的</li>
            </ul>
        </div>
    </body>
    <script src="../../config.js"></script><script src="../../sdk/core.js" id="seajsnode" ></script>
    <script>
    seajs.use('./script')
    </script>
</html>