<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <link href="../../../sdk/ui.css" rel="stylesheet">
        <link href="style.css" rel="stylesheet">
        
    </head>
    <body>
        <div class="loginWrap">
            <div class="wLogo"></div>
            <form class="list loginForm" id="logForm">
                <label class="item item-input">
                    <span class="input-label"><i class="ion">&#xe698;</i></span>
                    <input type="tel" datatype="m" errormsg="请正确填写手机号！" nullmsg="请填写手机号！" name="usern" id="usern" placeholder="请输入您的手机号">
                </label>
                <div class="item item-input">
                    <span class="input-label"><i class="ion">&#xe83a;</i></span>
                    <label><input type="radio" name="login_type" value="0" checked>用户密码</label>
                    <label><input type="radio" name="login_type" value="1" id="chooseMsg">短信密码</label>
                </div>
                <div class="item item-input">
                    <span class="input-label"><i class="ion">&#xe83a;</i></span>
                    <input type="password" datatype="*6-16" name="password" id="password" placeholder="请输入密码">
                    <div class="btn btn-sm getCode" id="getCode">获取验证码</div>
                </div>
                <div class="item tr" style="border-bottom:0">
                    <!--<span class="btn btn-link btn-sm" id="asGuest">游客登录</span>-->
                    <span class="btn btn-link btn-sm" id="forgetPw">忘记密码</span>
                </div>
                <button type="submit" class="btn btn-block btn-primary _sub">登录</button>
                <div class="item _quick tr" style="border-bottom:0">
                    <!--快捷登录：-->
                    <span class="btn btn-link btn-sm" id="toReg">立即注册</span>
                </div>
            </form>
        </div>
    </body>
    <script src="../../../config.js"></script><script src="../../../sdk/core.js" id="seajsnode" ></script>
    <script>
    seajs.use('./script')
    </script>
</html>