.banner{
    overflow: hidden;
    position: relative;

    background-color: #ccc;
    background-position: center;
}

.banner img{
    width: 100%;
    height: auto;
}

.banner .title{
    position: absolute;
    z-index: 11;
    bottom: 15px;
    left: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    width: 90%;

    color: white;
}
.banner_title{position: absolute;left: 0;bottom:0;padding:.5em;color:#fff;}
