<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link href="../../../sdk/ui.css" rel="stylesheet">
    <link href="detail.css" rel="stylesheet">
</head>

<body class="flex-col">
    <div class="head">
        <div class="btn" id="goBack-cus">
            <i class="ion">&#xe651;</i>
        </div>
        <div class="title" id="title">详细页</div>
    </div>
    <div class="scroll_cont list">
        <div id="meta">
            <!--顶部banner图 开始-->
            <div class="kr-article-banner block-holder">
                <div id="kr-article-cover" class="kr-article-cover">
                    <img src="${cover}">
                </div>
                <h2 class="kr-article-title block-holder">${title}</h2>
            </div>
            <!--顶部banner图 结束-->
            <!-- 文章作者、发布时间等信息 -->
            <div class="kr-article-meta">
                <div class="kr-article-author block-holder">${author}</div>
                <div class="kr-article-text block-holder">发表于</div>
                <div class="kr-article-time block-holder">${time}</div>
            </div>
        </div>
        <div class="kr-article-content">
            <!--文章详细内容-->
            <div id="article" class="kr-article-article block-holder">${content|raw}</div>
        </div>
    </div>
</body>
<script type="text/javascript">
    var headNode = document.getElementsByTagName('head')[0];
    var confNode = document.createElement('script');
    var coreNode = document.createElement('script');
    var selfPath = window.location.href;
    var widgetPath = "widget://";
    var pathMatch = selfPath.match(/\/view(.+)$/);
    if(pathMatch[1]){
    	selfPath = pathMatch[1];
    	var index = -1;
		var pathDeep = 0;
		do {
			index = selfPath.indexOf("/", index + 1);
			if (index != -1) { 
				pathDeep++;
			}
		} while (index != -1);
		if(pathDeep){
			widgetPath  ="";
			for(var deepStart = 0;deepStart<pathDeep;deepStart++){
				widgetPath += "../";
			}
		}
    }
	
    confNode.type = "text/javascript";
    confNode.src = widgetPath + "config.js";
    coreNode.type = "text/javascript";
    
    if (coreNode.addEventListener) {
      coreNode.addEventListener("load", scriptOnload, false);
    } else if (coreNode.readyState) {
      coreNode.onreadystatechange = function() {
        if (coreNode.readyState == "loaded" || coreNode.readyState == "complete") {
          coreNode.onreadystatechange = null;
          scriptOnload();
        }
      };
    } else {
      coreNode.onload = scriptOnload;
    }
    coreNode.src = widgetPath + "sdk/core.js";
    coreNode.onerror = function(e){
    	console.log(JSON.stringify(e));
    };
    apiready = function() {
      headNode.appendChild(confNode);
      headNode.appendChild(coreNode);
    };
    function scriptOnload(){
      seajs.use("./detail");
    }
  </script>

</html>
