.margin{margin:2em 4em !important;}
.inviteHead{border-bottom:1px solid #ccc;line-height: 1.5;}
.inviteHead h2{font-size:1.3em;margin-bottom: .5em;}
.inviteHead p{margin-bottom: 1em;}
.inviteHead ._tip{color:#777;font-size:.9em;}
.inviteHead strong{font-size:2.5em;font-weight: normal;}
