<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <link href="../../../sdk/ui.css" rel="stylesheet">
        <link href="style.css" rel="stylesheet">
        
    </head>
    <body class="flex-col">
        <div class="head myhead">
            <div class="btn" id="goBack">
                <i class="ion">&#xe7b7;</i>
            </div>
            <div class="title" id="headTitle">添加地址</div>
            <div class="btn" id="save">
                保存
            </div>
        </div>
        <div class="flex-1 scroll_cont" >
            <form class="wrap" id="addAddrForm">
                <div class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="收货人姓名" datatype="s2-6" name="name" nullmsg="请填写收货人姓名">
                    </label>
                    <label class="item item-input">
                        <input type="tel" placeholder="手机号码" datatype="m" name="mobile">
                    </label>
                    <div class="item item-input" id="pickArea">
                        <div class="input placeholder" id="addrShow">所在地区</div>
                        <input type="text" class="hide" datatype="*" name="province" id="province" nullmsg="请选择省市区">
                        <input type="text" class="hide" name="city" id="city">
                        <input type="text" class="hide" name="area" id="area">
                    </div>
                    <label class="item item-input">
                        <input type="text" placeholder="详细地址" datatype="*2-50" name="address" nullmsg="请填写详细地址">
                    </label>
                    <label class="item item-input">
                        <input type="number" placeholder="邮政编码" datatype="n4-8" name="zip" ignore="ignore" errormsg="请正确填写邮政编码">
                    </label>
                </div>
            </form>
        </div>
    </body>
    <script src="../../../config.js"></script><script src="../../../sdk/core.js" id="seajsnode" ></script>
    <script>
    seajs.use('./script')
    </script>
</html>